/*---------------
    Indicator
---------------*/

#keyboard-state label,
#language {
	margin-right: 0px;
	color: @hover-fg;
        background-color: #6aa29f;
}

/*-----------------
    Temperature
-----------------*/

#custom-left_div.2,
#custom-left_inv.2 {
	color: #83a598;
        margin: 0px;
        padding: 0px 0px;
}
#temperature {
        margin: 0px;
        padding: 0px;
	background-color: @temperature;
}

/*------------
    Memory
------------*/

#custom-left_div.3,
#custom-left_inv.3 {
	color: #598081;
        padding: 0px;
        margin: 0px;
}
#memory {
	background-color: @memory;
}

/*---------
    CPU
---------*/

#custom-left_div.4, 
#custom-left_inv.4 {
	color: #617582;
}
#cpu {
	background-color: @cpu;
}

/*-----------------
    Distro icon
-----------------*/

#custom-left_div.5,
#custom-right_div.1 {
	color: @surface0;
        margin: 0px;
        padding: 0px;
}
#custom-distro {
	padding: 0 10px 0 5px;
	background-color: @surface0;
	color: @main-bg;
}

/*--------------------
    Language
--------------------*/

#custom-right_inv.2,
#custom-right_div.1 {
        color: #5c707d;
        margin: 0px;
        padding: 0px;
}

/*----------
    Time
----------*/

#clock.time {
	padding-right: 0px;
	background-color: @time;
}
#custom-right_div.2,
#custom-right_inv.1 {
	background-color: #5c707d;
	color: @time;
        margin: 0px;
        padding: 0px;
}

/*----------
    Date
----------*/

#clock.date {
	padding-left: 0px;
	background-color: @date;
}
#custom-right_div.3,
#custom-right_inv.3 {
	background-color: @base;
	color: @date;
        margin: 0px;
        padding: 0px;
}

/*-----------------
    System tray
-----------------*/

#network {
	background-color: @tray;
	padding: 0 3px 0 4px;
}
#bluetooth {
	background-color: @tray;
	padding: 0 3px;
}
#custom-update {
	background-color: @tray;
	padding: 0 0px 0 0px;
}
#custom-right_div.5,
#custom-right_inv.4 {
	color: @tray;
        padding: 0px;
}
#custom-right_div,
#custom-right_inv {
    padding: 0;
    margin: 0;
}
#custom-left_div {
    background: red;
}
